#site-header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: relative;
  z-index: 55;
}

#site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#site-header .brand {
  /*flex: 1;*/
  display: flex;
  align-items: center;
}

#site-header .site-logo img {
  height: 100px;
  width: auto;
}

#site-header h1 a {
  color: #fff;
  text-decoration: none;
}

#site-header p {
  font-size: 1.2em;
  margin-top: 10px;
}

#site-navigation {
  flex: 2;
  text-align: right;
}

#site-navigation ul {
  list-style: none;
}

#site-navigation li {
  display: inline-block;
  margin-left: 15px;
}

#site-navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 2s ease-in-out;
  background-color: #f5f5f5;
}

#site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: right;
}

#site-navigation ul {
  display: flex;
  list-style: none;
  align-items: center;
}

@media (min-width: 767.99px) {

  #site-navigation {
    li {
      font-size: 1.3rem;
      margin-left: 1.5em;
      a[aria-current="page"] {
        color: #aaa;
      }
    }
  }

  .menu-main-menu-container {
    margin-left: auto;
  }
  .menu {
    float: right;
  }
  .menu-public-menu-container {
    margin-left: auto;
    margin-right: .9em;
  }
  .menu-primary-container {
    margin-left: auto;
    margin-right: .9em;
  }
  .menu-travel-manager-menu-container {
    margin-left: auto;
    margin-right: .9em;
  }
  .menu-public-container {
    margin-left: auto;
    margin-right: .9em;
  }
  .menu-destination-menu-container {
    margin-left: auto;
    margin-right: .9em;
  }
  .menu-tfs-staff-container {
    margin-left: auto;
    margin-right: .9em;
  }
  .menu-tfs-staff-menu-container {
    margin-left: auto;
    margin-right: .9em;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    margin-left: auto; /* Aligns the hamburger menu to the right */
  }

  .brand {
    order: 2; /* Moves the logo to the right */
    flex: 1;
    text-align: right; /* Right-align text within the brand area */
  }

  #menu-travel-manager {
    text-align: left;
  }

  #menu-admin-menu {
    text-align: left;
  }

  #site-navigation {
    flex-direction: column; /* Stacks elements in the navigation */
  }

  #site-navigation ul {
    display: none;
    flex-direction: column;
    width: 100%;
    opacity: 0; /* Start as completely transparent */
    max-height: 0; /* Start with no height */
    overflow: hidden; /* Hide overflow content */
    transition: max-height 2s ease-out, opacity 2s ease-out;
  }

  #site-navigation ul.active {
    display: flex;
    max-height: 500px;
    opacity: 1;
  }
  #site-header .site-logo img {
    height: 60px;
    width: auto;
  }

  #site-header .container .brand {
    flex-direction: unset !important;
    text-align: center;
  }

  #site-navigation {
    margin-top: 20px;
  }

  #site-navigation ul {
    padding: 0;
  }

  #site-navigation li {
    display: block;
    margin: 10px 0;
  }
}


